*{
    padding: 5px;
    margin: 5px;
}


body {
    background-image: url('https://media0.giphy.com/media/pkVHZKcnzzkmA/giphy.gif');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

